<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <servlet>
        <servlet-name>regServlet</servlet-name>
        <servlet-class>interestCalculator.RegisterationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>regServlet</servlet-name>
        <url-pattern>/reglink</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>interestCalculator.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginlink</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>calServlet</servlet-name>
        <servlet-class>interestCalculator.CalculatorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>calServlet</servlet-name>
        <url-pattern>/calculatorlink</url-pattern>
    </servlet-mapping>

</web-app>
